<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>5</string>
	<key>CFBundleShortVersionString</key>
	<string>2.14.8</string>
	<key>CFBundleVersion</key>
	<string>14038</string>
	<key>ProductBuildVersion</key>
	<string>120A230</string>
	<key>ProjectName</key>
	<string>TransporterApp</string>
	<key>SourceVersion</key>
	<string>125086000000000</string>
</dict>
</plist>
