<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>comment</key>
		<string>Music Video 1</string>
		<key>packageVersionPrefix</key>
		<string>musicvideosingle</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package[@version]!=&apos;&apos;</string>
		<key>contentType</key>
		<string>musicvideo</string>
		<key>duplicateType</key>
		<string>music</string>
		<key>itunesConnectType</key>
		<string>mv</string>
		<key>vendorId.XPath</key>
		<string>package/video/vendor_id/text()</string>
		<key>title.XPath</key>
		<string>package/video/title/text()</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-MusicVideo</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Music Video 2</string>
		<key>packageVersionPrefix</key>
		<string>musicvideo</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package[@version]!=&apos;&apos;</string>
		<key>contentType</key>
		<string>musicvideo</string>
		<key>duplicateType</key>
		<string>music</string>
		<key>itunesConnectType</key>
		<string>mv</string>
		<key>vendorId.XPath</key>
		<string>package/album/album_vendor_id/text()</string>
		<key>title.XPath</key>
		<string>package/album/album_title/text()</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-MusicVideo</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Music Video 3</string>
		<key>packageVersionPrefix</key>
		<string>music</string>
		<key>sortOrder</key>
		<integer>900</integer>
		<key>testFunction</key>
		<string>boolean(package/video)</string>
		<key>contentType</key>
		<string>musicvideo</string>
		<key>duplicateType</key>
		<string>music</string>
		<key>itunesConnectType</key>
		<string>mv</string>
		<key>vendorId.XPath</key>
		<string>package/video/vendor_id/text() | package/video/upc/text()</string>
		<key>title.XPath</key>
		<string>package/video/title/text()</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-MusicVideo</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Music Video 4</string>
		<key>packageVersionPrefix</key>
		<string>music</string>
		<key>sortOrder</key>
		<integer>950</integer>
		<key>testFunction</key>
		<string>package/assets[@media_type]/lower-case(@media_type)=&apos;video&apos;</string>
		<key>contentType</key>
		<string>musicvideo</string>
		<key>duplicateType</key>
		<string>music</string>
		<key>itunesConnectType</key>
		<string>mv</string>
		<key>vendorId.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>title.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-MusicVideo</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Music</string>
		<key>packageVersionPrefix</key>
		<string>music</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>boolean(package/album)</string>
		<key>contentType</key>
		<string>music</string>
		<key>vendorId.XPath</key>
		<string>package/album/vendor_id/text() | package/album/album_vendor_id/text() | package/album/upc/text()</string>
		<key>title.XPath</key>
		<string>package/album/title/text() | package/album/album_title/text()</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZPlayList</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Publication</string>
		<key>packageVersionPrefix</key>
		<string>publication</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package[@version]!=&apos;&apos;</string>
		<key>contentType</key>
		<string>publication</string>
		<key>vendorId.XPath</key>
		<string>package/book/vendor_id/text()</string>
		<key>title.XPath</key>
		<string>package/book/metadata/title/text() | package/book/metadata//TitleText/text()</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZPublication</string>
		<key>storeName</key>
		<string>Apple Books</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Software</string>
		<key>packageVersionPrefix</key>
		<string>software</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package[@version]!=&apos;&apos;</string>
		<key>contentType</key>
		<string>software</string>
		<key>vendorId.XPath</key>
		<string>package/software/vendor_id/text() | package/software_assets[@bundle_identifier]/@bundle_identifier | package/software/bundle_identifier/text() | package/software_assets[@apple_id]/@apple_id | package/software/read_only_info/read_only_value[@key=&quot;apple-id&quot;]/text()</string>
		<key>title.XPath</key>
		<string>package/software/software_metadata/versions/version/locales/locale/title/text() | package/software_assets[@bundle_identifier]/@bundle_identifier</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>bundleId.XPath</key>
		<string>package/software_assets[@bundle_identifier]/@bundle_identifier | package/software/bundle_identifier/text()</string>
		<key>appPlatform.XPath</key>
		<string>package/software_assets[@app_platform]/@app_platform | package/software/software_metadata[@app_platform]/@app_platform</string>
		<key>teamId.XPath</key>
		<string>package/team_id/text()</string>
		<key>searchEntityName</key>
		<string>MZPurpleSoftware</string>
		<key>storeName</key>
		<string>App Store</string>
		<key>appleID.XPath</key>
		<string>package/software_assets[@apple_id]/@apple_id | package/software/read_only_info/read_only_value[@key=&quot;apple-id&quot;]/text()</string>
		<key>requiresContainerId</key>
		<false/>
		<key>inAppPurchases.XPath</key>
		<string>package/software/software_metadata/in_app_purchases</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Film (film)</string>
		<key>packageVersionPrefix</key>
		<string>film</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package/video/type/lower-case(text())=&apos;film&apos;</string>
		<key>contentType</key>
		<string>film</string>
		<key>vendorId.XPath</key>
		<string>package/video/vendor_id/text()</string>
		<key>title.XPath</key>
		<string>package/video/title/text()</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-Film</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Film (movies)</string>
		<key>packageVersionPrefix</key>
		<string>movies</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package[@version]!=&apos;&apos;</string>
		<key>contentType</key>
		<string>film</string>
		<key>vendorId.XPath</key>
		<string>package/video/vendor_id/text()</string>
		<key>title.XPath</key>
		<string>package/video/title/text()</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-Film</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>TV Episode (tv)</string>
		<key>packageVersionPrefix</key>
		<string>tv</string>
		<key>sortOrder</key>
		<integer>900</integer>
		<key>testFunction</key>
		<string>package/video/type/lower-case(text())=&apos;tv&apos;</string>
		<key>contentType</key>
		<string>tv</string>
		<key>itunesConnectType</key>
		<string>tvEpisode</string>
		<key>vendorId.XPath</key>
		<string>package/video/vendor_id/text()</string>
		<key>title.XPath</key>
		<string>package/video/title/text()</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-TVShowEpisode</string>
		<key>containerId.XPath</key>
		<string>/package/video/container_id</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Film (video)</string>
		<key>packageVersionPrefix</key>
		<string>film</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package/assets[@media_type]/lower-case(@media_type)=&apos;video&apos;</string>
		<key>contentType</key>
		<string>film</string>
		<key>title.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>vendorId.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-Film</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>iTunes Extra (video)</string>
		<key>packageVersionPrefix</key>
		<string>film</string>
		<key>sortOrder</key>
		<integer>100</integer>
		<key>testFunction</key>
		<string>package/itunes_extra/content_item[@content_type]/lower-case(@content_type)=&apos;video&apos;</string>
		<key>contentType</key>
		<string>film</string>
		<key>itunesConnectType</key>
		<string>filmextra</string>
		<key>title.XPath</key>
		<string>package/itunes_extra/title/text()</string>
		<key>vendorId.XPath</key>
		<string>package/itunes_extra/vendor_id/text()</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>containerId.XPath</key>
		<string>package/itunes_extra/content_item/vendor_id</string>
		<key>searchEntityName</key>
		<string>MZExtra</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Film Extra (audio)</string>
		<key>packageVersionPrefix</key>
		<string>film</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package/assets[@media_type]/lower-case(@media_type)=&apos;gallery_item_audio&apos;</string>
		<key>contentType</key>
		<string>film</string>
		<key>itunesConnectType</key>
		<string>filmextra</string>
		<key>mediaType.XPath</key>
		<string>package/assets[@media_type]/@media_type</string>
		<key>title.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>vendorId.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZExtra</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Film Extra (image)</string>
		<key>packageVersionPrefix</key>
		<string>film</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package/assets[@media_type]/lower-case(@media_type)=&apos;gallery_item_image&apos;</string>
		<key>contentType</key>
		<string>film</string>
		<key>itunesConnectType</key>
		<string>filmextra</string>
		<key>mediaType.XPath</key>
		<string>package/assets[@media_type]/@media_type</string>
		<key>title.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>vendorId.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZExtra</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Film Extra (video)</string>
		<key>packageVersionPrefix</key>
		<string>film</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package/assets[@media_type]/lower-case(@media_type)=&apos;gallery_item_video&apos;</string>
		<key>contentType</key>
		<string>film</string>
		<key>itunesConnectType</key>
		<string>filmextra</string>
		<key>mediaType.XPath</key>
		<string>package/assets[@media_type]/@media_type</string>
		<key>title.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>vendorId.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZExtra</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Movie Bundle</string>
		<key>canShowViewOn</key>
		<false/>
		<key>packageVersionPrefix</key>
		<string>film</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package/album/album_type=&apos;MovieBundle&apos;</string>
		<key>contentType</key>
		<string>film</string>
		<key>title.XPath</key>
		<string>package/album/title</string>
		<key>vendorId.XPath</key>
		<string>package/album/vendor_id</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZPlaylist</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>TV Season</string>
		<key>packageVersionPrefix</key>
		<string>tv</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>count(/package/season)</string>
		<key>contentType</key>
		<string>tv</string>
		<key>itunesConnectType</key>
		<string>tv</string>
		<key>title.XPath</key>
		<string>package/season/title</string>
		<key>containerId.XPath</key>
		<string>package/season/container_id</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>requiresContainerId</key>
		<true/>
		<key>requireItcCheck</key>
		<false/>
		<key>searchEntityName</key>
		<string>MZPlaylist</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>Subscription Video</string>
		<key>canShowViewOn</key>
		<false/>
		<key>packageVersionPrefix</key>
		<string>subscriptionvideo</string>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package[@version]!=&apos;&apos;</string>
		<key>contentType</key>
		<string>film</string>
		<key>title.XPath</key>
		<string>package/video/title</string>
		<key>vendorId.XPaths</key>
		<string>concat(package/video/umc_catalog_id/text(),&quot;:&quot;,package/video/umc_content_id/text(),&quot;:&quot;,package/video/umc_variant_id/text())</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-SubscriptionVideo</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
	<dict>
		<key>comment</key>
		<string>TV (asset)</string>
		<key>canShowViewOn</key>
		<true/>
		<key>packageVersionPrefix</key>
		<string>tv</string>
		<key>requiresContainerId</key>
		<false/>
		<key>sortOrder</key>
		<integer>1000</integer>
		<key>testFunction</key>
		<string>package/assets[@media_type]/lower-case(@media_type)=&apos;video&apos;</string>
		<key>contentType</key>
		<string>tv</string>
		<key>title.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>requireItcCheck</key>
		<false/>
		<key>vendorId.XPath</key>
		<string>package/assets[@vendor_id]/@vendor_id</string>
		<key>provider.XPath</key>
		<string>package/provider/text()</string>
		<key>searchEntityName</key>
		<string>MZVideo-TVShowEpisode</string>
		<key>storeName</key>
		<string>iTunes Store</string>
	</dict>
</array>
</plist>
